# Ignore development-related files and folders
node_modules/
test/
coverage/
package-lock.json

# Ignore OS-related files
.DS_Store
Thumbs.db
*.swp

# Ignore logs, cache, and temporary files
*.log
.cache/
.tmp/

# Ignore editor/IDE specific files
.vscode/
.idea/