# Ignore development-related files and folders
node_modules/
test/
coverage/
rollup.config.js
package-lock.json

# Ignore version control files
.git/
.gitignore

# Ignore OS-related files
.DS_Store
Thumbs.db
*.swp

# Ignore logs, cache, and temporary files
*.log
.cache/
.tmp/

# Ignore editor/IDE specific files
.vscode/
.idea/
